
@{
    ViewData["Title"] = "Tournament";
}

<h1>Tournament</h1>

<p>
    Calling all Irish Retro gamers!!! ConsoleConnoisseur™ has teamed up with <a href="https://retrogaming.ie/">retrogaming</a> to bring you an awesome competition. We're giving you the chance to win a rare unopened Nintendo 64 Special Limited Edition Pokemon Pokemaniac Console (Boxed).
    Comes with Pokemon N64 controller and promotional Pokemon I choose you Pikachu video. To be in with a chance to win all you have to do is <a  asp-area="Identity" asp-page="/Account/Register" >Register</a> with us or if you are already a member
    then head on over to retrogaming and enter the N64 Pokemon Stadium tournament. Enrty fee is €5 and the winner of the tournament will recieve the console gifted by us worth €500!!!

</p>

<div class="d-flex justify-content-center">
    <img class="n64pokemon" src="https://www.gamesmen.com.au/media/catalog/product/cache/1/image/590x590/cbcbef48e5e3bcce7c7ed908f20bc5b4/n/i/nintendo_64_special_limited_edition_pokemon_pokemaniac_console_boxed_pre-owned_1_.jpg" alt="N64 pokemaniac console" />
</div>

<h3>In The Box:</h3>
<p>
    <ul>
        <li>1 x Nintendo 64 Limited Edition Pokemaniac Console</li>
        <li>1 x Nintendo 64 Limited Edition Pokemon Controller</li>
        <li>1 x Pokemon Video</li>
        <li>1 x AV Cable</li>
        <li>1 x AC Power Cable </li>
    </ul>
</p>

<div>
    <table class="table-bordered">
        <tr>
            <th>Item Code</th>               
            <td>160893</td>
        </tr>
        <tr>
            <th>Packaged Weight</th>
            <td>2.2kg</td>
        </tr>
        <tr>
            <th>Release Date</th>
            <td>1997</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td>Pre-Owned</td>
        </tr>
        <tr>
            <th>Product Type</th>
            <td>Consoles</td>
        </tr>
        <tr>
            <th>Platform</th>
            <td>N64</td>
        </tr>
        <tr>
            <th class="align-text-top">Specifications</th>
            <td>
                <p>
                    <strong>CPU</strong>: 64-bit R4300i RISC (93.75MHz) / 64-bit data paths, registers with 5-stage pipelining
                    <strong><br>Co-processor</strong>: 64-bit RISC (62.5MHz)
                    <strong><br>RAM</strong>: 4MB (36Mb) upgradeable
                    <strong><br>Graphics</strong>: Pixel Drawing Processor (RDP) built into co-processor
                    <strong><br>Colors</strong>: 16.7 million (32,000 on screen)
                    <strong><br>Polygons</strong>: 150,000 per second
                    <strong><br>Resolution</strong>: 640x480 pixels
                    <strong><br>Sound</strong>: 16 to 24-channel 16-bit stereo (up to 100 PCM channels possible)
                </p>
            </td>
        </tr>
    </table>
    <a asp-controller="Responses" asp-action="Create" class="btn btn-dark">Comment</a>
    @*ViewBag.Responses.ToString()*@

    @foreach (var response in ViewBag.Responses)
    {
        <p>@response.Name : <span>@response.Message</span></p>
    }
</div>

