
@{
    ViewData["Title"] = "Tournament";
}

<h1>Tournament</h1>

<p>
    Calling all Irish Retro gamers!!! ConsoleConnoisseur™ has teamed up with <a href="https://retrogaming.ie/">retrogaming</a> to bring you an awesome competition. We're giving you the chance to win a rare unopened Nintendo 64 Special Limited Edition Pokemon Pokemaniac Console (Boxed).
    Comes with Pokemon N64 controller and promotional Pokemon I choose you Pikachu video. To be in with a chance to win all you have to do is <a  asp-area="Identity" asp-page="/Account/Register" >Register</a> with us or if you are already a member simply 
    <a asp-area="Identity" asp-page="/Account/Login">Login</a>. Then head on over to retrogaming and enter the N64 Pokemon Stadium tournament.

</p>

